@model WebStore.ViewModels.EmployeeViewModel

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = $"Удаление сотрудника id:{Model.Id}";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены, что хотите уволить этого негодяя?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
        <input type="submit" value="Уволить!" class="btn btn-danger" /> |
        <a asp-action="Index">Помиловать</a>
    </form>
</div>